body {
    font-family: 'Heebo', sans-serif;
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
}

textarea, input {
    width: 900px;
}

footer {
    background-color: gray;
    color: white;
    border-top: 8px solid #4aaaa5;
}

#mypic {
    float: left;
    margin-right: 20px;
}

#mainheader {
    display: flex;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#mynameheader {
    background-color: #303b61;
    color: white;
    padding: 10px;
    width: 200px;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

#navbar {
    display: flex;
    background-color: white;
    color: black;
    width: 275px;
    margin-left: 450px;
}

#navbar ul {
    padding: 0;
    list-style: none;
    align-self: flex-end;
}

#navbar li {
    display: inline;
}

#navbar a:link {
    color: black;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 30px;
}

#navbar a:hover {
    color: blue;
}

.center {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.footer {
    height: 50px;
}

.content {
    min-height: calc(100vh - 70px);
    padding-top: 40px;
    background-image: url("/assets/images/dark-honeycomb.png");
    background-color: #d4d4d4;
}

.mainbody {
    display: block;
    background-color: white;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.submitbutton {
    width: 75px;
    height: 40px;
    background-color: #303b61;
    color: white;
    border: none;
}